@{
	ViewBag.Title = "About";
}
<div class="row">
	<div class="col-md-5">
		<h2>About</h2>
        <p>
            Dungeon and Dragon (D&D)
            is a story-driven role playing game, which is often played in a group with pen and paper.
            D&D players often suffer from lost character sheets, or it's a hassle to keep the record manually. That's why,
            we have built "Tome of Keeping", a web application, which helps 
            players move away from the pain of
            lost adventurers and missing character sheets by giving the user the opportunity
            to digitally create, store, edit, and view their characters and campaigns all in one site.
            Once a character is created and stored, it can be added to a group or campaign alongside
            other characters created by other users.
        </p>
		<p><a class="btn btn-default" href="/Home/PickClass">Create Your Character! &raquo;</a></p>
	</div>
	<div class="col-md-5">
		
	</div>
</div>