@{
	ViewBag.Title = "About";
}
<div class="row">
	<div class="col-md-5">
		<h2>About</h2>
		<p>
			Some shit about the game here
		</p>
		<p><a class="btn btn-default" href="/Home/PickClass">Create Your Character! &raquo;</a></p>
	</div>
	<div class="col-md-5">
		<h2>Mini Tutorial</h2>
		<p>
			Small tutorial here
		</p>
	</div>
</div>