
@{
    ViewBag.Title = "CharacterResult";
    string[] classNames = new string[] { "Barbarian", "Bard", "Cleric", "Druid", "Fighter", "Monk", "Paladin", "Ranger", "Rogue", "Sorcerer", "Warlock", "Wizard" };
}

<h2>CharacterResult</h2>




@if (ViewBag.Characters != null)
{
    <table border="1" class="table">
        <tr>
            <th>Name</th>
            <th>Class</th>
            <th>User</th>

        </tr>
        @foreach (var character in ViewBag.Characters)
        {
            <tr>
                <td><a href="/Home/ViewCharacter?CharacterID=@character.CharID">@character.CharName</a></td>
                <td>@classNames[@character.Class-1]</td>
                @foreach (var user in ViewBag.User)
                {
                    if (user.Id == character.UserID)
                    {
                        <td><a href="/Home/UserProfile?userid=@character.UserID">@user.UserName</a></td>
                    }
                    else
                    {
                        
                    }
                }


            </tr>
        }
    </table>


}