
@{
    ViewBag.Title = "CreateCampaign";
}

<h2>CreateCampaign</h2>

<form>
<input name="DmUserID" type="hidden" value="@ViewBag.Campaign" />
<input name="CampaignName" type="text"
<input type="submit" value="Create Campaign" />
</form>