
@{
	ViewBag.Title = "CreateCampaign";
}

<h2>Campaign</h2>

<form action="/Home/SaveCampaign">
	<input name="DMUserID" type="hidden" value="@ViewBag.User" />
	<label>CampaignName</label><input name="CampaignName" type="text" />
	<input type="submit" value="Create Campaign" />
</form>