@{
	ViewBag.Title = "Home Page";
}

<form action="/Home/CharacterCreator" method="get">

    @*<select name="Class" id="selection">
            <option name="className" value="Barbarian">Barbarian</option>
            <option name="className" value="Rogue">Rogue</option>
            <option name="className" value="Wizard">Wizard</option>
            <option name="className" value="Druid">Druid</option>
            <option name="className" value="Warlock">Warlock</option>
             <option name="className" value="Sorcerer">Sorcerer</option>
            <option name="className" value="Ranger">Ranger</option>
            <option name="className" value="Paladin">Paladin</option>
            <option name="className" value="Monk">Monk</option>
            <option name="className" value="Fighter">Fighter</option>
            <option name="className" value="Cleric">Cleric</option>
            <option name="className" value="Bard">Bard</option>

        </select>*@

    <select name="Class">
        @for(int i = 0; i<12; i++)
        {

        <option value="@(i+1)">@ViewBag.Classes[i]["name"]</option>

        }

    </select>

    <button type="submit">Select</button>
</form>