
@{
	ViewBag.Title = "Tracker";
}

<h2>Tracker</h2>
<a href="/Home/PickClass">Create a new character!</a> <br />
<h3>My Characters</h3>
<table>

    @foreach (var Char in ViewBag.CharacterToView)
    {
        <tr>
            <td class="col-md-4">
                <a href="/Home/ViewCharacter?CharacterID=@Char.CharID">View @Char.CharName     </a>
            </td>
            <td class="col-md-4">
                <a href="/Home/CharacterEdit?CharacterID=@Char.CharID&Class=@Char.Class">Edit @Char.CharName</a><br />
            </td>
        </tr>
    }
</table>

<br />
<h3>My Campaigns</h3>
@foreach (var Camp in ViewBag.MyCampaigns)
{
    <a href="/Home/Campaign?id=@Camp.CampaignID">@Camp.CampaignName</a>
}

<br /><br /><br /><br /><br /><br />