
@{
    ViewBag.Title = "UserProfile";
}

<h1>@ViewBag.User.UserName</h1>

<h3>Characters</h3>

<table border="1" class="table">
    <tr>

        <th>Characters</th>
        @foreach (var Char in ViewBag.UserChar)
        {
        <tr>
            <td class="col-md-4">
                <a href="/Home/ViewCharacter?CharacterID=@Char.CharID">@Char.CharName     </a>
            </td>
        </tr>
    }
    </table>

    <br />
    <h3>Campaigns</h3>
    <table border="1" class="table">
        <tr>

            <th>Campaigns</th>
            @foreach (var Camp in ViewBag.UserCamp)
            {
            <tr>
                <td class="col-md-4">
                    <a href="/Home/Campaign?id=@Camp.CampaignID">@Camp.CampaignName</a>
                </td>
            </tr>
        }
        </table>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
